
header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px	  
}

nav {
	background-color: #E8C664;
	border: 1px black solid;
	padding: 20px;
}

section {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}
a:hover {
	background-color: #e6e6e6;
}
.alignleft {
	float: left;
	width:45%;
	text-align: center;
	font-family: "Courier New";
	font-size: 32px;
	font-style: bold;
	color: #992600;
}
.aligncenter {
	float: left;
	width:10%;
	text-align: center;
	font-family: "Courier New";
	font-size: 32px;
	font-style: bold;
	color: #992600;
}
.alignright {
	float: left;
	width:45%;
	text-align: center;
	font-family: "Courier New";
	font-size: 32px;
	font-style: bold;
	color: #992600;
}
img.resize {
	width: 950px;
	height: 400px;
}
h1 {
	text-align: center;
	color: ##000;
	font-family: "Quintessential", cursive;
	font-size: 30px;
}
hr {
	color: #000;
	width: 600px;
	font-style: bold;
}
p {
   	text-align: center;
   	color: #000;
   	font-family: "Courier New";
   	font-size: 20px;
}

#textbox {
	background-color: #fff;
	margin: 1em auto;
}

.clearfix:after {
	content: ' ';
	visibility:hidden;
	font-size: 0px;
	clear: both;
	height: 0px;
	display:block;
}
#collage {
	display: block;
	background-color: #fff;
	margin: 0 auto;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
	text-align: left;
}